@mixin make-grid($name) {

    @for $i from 1 through $grid-columns {
        .grid__col--#{$name}-#{$i} {
            order: auto;
            flex-basis: 100% / $grid-columns * $i;
            max-width: 100% / $grid-columns * $i;
        }
    }

    @for $i from 1 through $grid-columns {
        .grid__col--offset-#{$name}-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }

    .grid__col--#{$name} {
        flex-grow: 0;
        flex-basis: auto;
        width: auto;
        max-width: 100%;
    }

    .grid__col--top-#{$name} {
        align-self: flex-start;
    }

    .grid__col--middle-#{$name} {
        align-self: center;
    }

    .grid__col--bottom-#{$name} {
        align-self: flex-end;
    }

    .grid__col--original-#{$name} {
        order: 0;
    }

    .grid__col--first-#{$name} {
        order: -1;
    }

    .grid__col--last-#{$name} {
        order: 1;
    }

    .grid--reverse-#{$name} {
        flex-direction: row-reverse;
    }

    .grid--start-#{$name} {
        justify-content: flex-start;
    }

    .grid--center-#{$name} {
        justify-content: center;
    }

    .grid--end-#{$name} {
        justify-content: flex-end;
    }

    .grid--around-#{$name} {
        justify-content: space-around;
    }

    .grid--between-#{$name} {
        justify-content: space-between;
    }

    .grid--top-#{$name} {
        align-items: flex-start;
    }

    .grid--middle-#{$name} {
        align-items: center;
    }

    .grid--bottom-#{$name} {
        align-items: flex-end;
    }
}

.grid {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: $grid-gutter * .5 * -1;
    margin-left: $grid-gutter * .5 * -1;
    margin-bottom: $grid-gutter * -1;
}

.grid--gutter-none {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.grid__col {
    flex: 0 0 auto;
    padding-right: $grid-gutter * .5;
    padding-left: $grid-gutter * .5;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: $grid-gutter;
    outline: none;

    .grid--equalheight > & {
        display: flex;
    }

    .grid--gutter-none > & {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
}

@include make-grid(xs);

@include bp(sm-min) {
    @include make-grid(sm);
}

@include bp(md-min) {
    @include make-grid(md);
}

@include bp(lg-min) {
    @include make-grid(lg);
}
